<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 <link rel="stylesheet" href="../css/main.css">
 <title>Compra Inteligente</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a href="home.html" class="brand-logo left"><img src="../assets/images/logo-icon.png" alt=""> </a>
      <ul class="right">
        <li><a href="smart.html"><i class="material-icons">lightbulb_outline</i></a></li>
        <li><a href="maps.html"><i class="material-icons">pin_drop</i></a></li>
        <li><a href="beneficios.html"><i class="material-icons">redeem</i></a></li>
        <li><a href="tarjetas.html"><i class="material-icons">payment</i></a></li>
        <li><a href="config.html"><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>
   <div class="row">
     <form class="col s12 input-smart">
       <div class="row">
         <div class="input-field col s6">
           <i class="material-icons prefix">attach_money</i>
           <input id="icon_prefix" type="text" class="validate">
           <label for="icon_prefix">Costo del producto</label>
          </div>
         <div class="input-field col s6">
           <i class="material-icons prefix">location_on</i>
           <input id="icon_telephone" type="tel" class="validate">
           <label for="icon_telephone">Lugar de compra</label>
         </div>
       </div>
       <div class="row">
       <div class="col s2 offset-s8">
           <button class="btn waves-effect waves-light indigo darken-4 send" type="submit" name="action"><i class="material-icons prefix">send</i></button>
       </div>
     </div>
     </form>
   </div>

   <section id="card-smart">

   </section>
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="js/materialize.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <script src="../js/login.js" type="text/javascript"></script>
</body>
</html>
